# Python
.env
.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*.pt
*.onnx

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# MediaMTX & Certificates
mediamtx/*.exe
*.crt
*.key

